
@{
    ViewData["Title"] = "About";
}

<h1>Bramatch takes the struggle and frustration out of finding new bras for all genders.</h1>
<p>
    Bramatch is a social community site to get recommendations for new bras based on the bras you already love from a gender diverse and inclusive community of people who wear bras.</p>
<p>
    The premise is simple, if two people wear the same size and model bra from one manufacture they are likely to love and fit well in another bra that fits that other person.
    Bramatch helps take the guesswork out of bra shopping by arming you with the knowledge of which bras are most likely to be flattering on you, to your taste, and exactly which size in that model is most likely to fit you best!
    It is like getting bra recommendations from a friend when that friend happens to love the exact make, model, and size bra you do.

</p>

