@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bra Match</h1>
    <p>Join our accepting community of people who wear bras and find you next favorite bra based on what other people really wear</p>
</div>
