@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Join our accepting community of people who wear bras and find you next favorite bra</p>
</div>
